* body {
  transition: all 0.3s linear;
}

body {
  background: linear-gradient(80deg, #8ec5fc 0%, #e0c3fc 100%);
}

.dark body {
  background: linear-gradient(80deg, #004690bd 0%, #3a0074bd 100%);
}

::-webkit-scrollbar {
  width: 8px;
  height: 100%;
  background-color: #e3e3e349;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
}

::-webkit-scrollbar-thumb {
  background: rgb(3, 191, 123);
  background: linear-gradient(circle, rgba(3, 191, 123, 1) 0%, rgb(0, 90, 58) 100%);
  width: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(3, 191, 123);
  background: linear-gradient(circle, rgba(3, 191, 123, 1) 0%, rgb(0, 90, 58) 100%);
}

::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

.dark ::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #d5d5d5;
}
